[2016-01-02 05:40] toshi0383 opened #3 "Remove __kitchenDebug function calls"
Should be removed for performance reason.
Although actual printing does not happen unless DEBUG is set to OTHER_SWIFT_FLAG, the injected function `__kitchenDebug` is still called.

[2016-01-02 05:46] toshi0383 opened #4 "Replace kitchenLaunchErrorHandler with kitchenErrorHandler in Kitchen.prepare method"
The `kitchenLaunchErrorHandler` is useless because there is no network operation occurs when launching Kitchen.
I think just `kitchenErrorHandler` is better. It should get called whatever errors occurs in Kitchen(both JS and Swift) context.

[2016-01-02 06:41] toshi0383 opened #5 "Localizability"
We need to address localizability.

[2016-01-07 02:32] toshi0383 opened #7 "TVML's view is reloadable ?"
In apple's sample-code, search template is reloading thumbnails dynamically.
Looks like there is a way to do this, and I will look at it later.

[2016-01-12 05:14] toshi0383 opened #9 "actionIDHandler is overwritten everytime serving Recipe"
This is problematic when user push and pop TVML views. The `actionIDHandler` could be overwritten with different one afterwards.
https://github.com/toshi0383/TVMLKitchen/blob/master/source/Kitchen.swift#L89

Handler should either
- be set once and shared in rest of app's process,
- or be set once per request.

I think we just choose the first one since it's much simpler.

[2016-01-25 05:54] #9 closed, assigned to toshi0383

[2016-01-27 02:11] toshi0383 opened #12 "SwiftLint Run Script Build Phase fails on `carthage update`"
Oops.

[code]

[2016-01-27 02:52] #12 closed, assigned to toshi0383

[2016-02-04 13:40] #4 closed, assigned to nobody

[2016-02-04 13:41] #3 closed, assigned to toshi0383

[2016-02-16 01:54] toshi0383 opened #20 "Kitchen fails to parse special characters like @"

[2016-02-16 03:24] toshi0383 commented on #20
Turns out it was just a xml encoding problem, not ours.
Closing.

[2016-02-16 03:24] #20 closed, assigned to toshi0383

[2016-02-17 03:54] toshi0383 opened #22 "Custom HTTP Header"
We should make HTTP Header fields customisable when Kitchen requests TVML on Network.
Workaround for now is to send network request by yourself, then pass the response XML string to Kitchen.

[2016-02-18 05:50] toshi0383 opened #23 "PlayActionHandler"
Currently actionHandler handles only "select" event.
We should add handler for "play" event, so user can start playing from list view.

[2016-02-18 10:50] #23 closed, assigned to nobody

[2016-02-19 00:28] toshi0383 commented on #7
I will reopen when I start researching.

[2016-02-19 00:28] #7 closed, assigned to nobody

[2016-03-14 01:00] steve228uk opened #27 "Missing Product Recipe"
Howdy!

I've been working on some recipes for the Product and Descriptive Alert templates. Once completed, did you want me to submit a PR?

I'm also not sure of the best approach in handling actions. Is there a way for a recipe to intercept these or is it one global handler for the application? Currently I'm using the following:

[code]

My approach in generating the XML is slightly different to y

[2016-03-14 01:14] steve228uk commented on #27
I just read through your slide deck and noticed you mentioned Stencil so perhaps the `{{NAME}}` method wouldn't be your ideal solution.

[2016-03-14 02:07] toshi0383 commented on #27
Hi, thanks! PR is totally welcomed. I will take a look and merge it ! 👍
Your xml replacing approach just look great. It would be fine as long as it works.

`actionIDHandler` is currently globally shared. I added description about `actionIDHandler` in #28 .

[2016-03-14 02:43] steve228uk commented on #27
@toshi0383 Awesome 😊 Yeah it looked like the handlers were global when I was digging through the JS and Bridge.

[2016-03-16 09:01] steve228uk opened #34 "Add to CocoaPods Trunk"
This will allow installation via CocoaPods without specifying the repo.

[2016-03-16 12:28] steve228uk commented on #34
This has been added. https://cocoapods.org/pods/TVMLKitchen

[2016-03-16 12:28] #34 closed, assigned to steve228uk

[2016-03-16 13:07] toshi0383 commented on #34
🎉🎉🎉
Looks gorgeous !

[2016-03-17 09:18] steve228uk opened #36 "Add a way to manually show/hide loading"
When running async requests in UIKit it would be good to have a way to show/hide the loading screen.
## Potential Solutions
1. A computed property called `loading`. This would be executed as the following:

[code]
1. Show/hide loading methods

[code]
1. A 'replace' presentation style (I feel this should exist anyway). This will replace the current view in place and is already be used in `kitchen.j

[2016-03-17 09:22] toshi0383 commented on #36
Nice. I agree. 👍

[2016-03-17 09:32] steve228uk commented on #36
@toshi0383 Awesome :smile: I'll get the `.Replace` presentation type added to #33 as I think it's pretty useful for tabs.

[2016-03-18 09:58] toshi0383 opened #40 "Modal presented TVML should be dismissed when it opens other TVML using template attribute"
TVML should be dismissed when presented modally, and opening other TVML.
#### Current Behavior

I can present a TVML modally like this. (Thanks a lot @steve228uk !)

`Kitchen.serve(jsFile: "Sample.xml.js", type: .Modal)`

`Sample.xml.js` has a button like this.

[code]

If this is clicked, kitchen.js presents the `Catalog.xml.js` **behind** the `Sample.xml.js` .

[2016-03-18 10:18] steve228uk commented on #40
This should be pretty easy to do if we call the `dismissTVMLModal()` function before we pass the template to JS.

[2016-03-18 10:22] toshi0383 commented on #40
Do you think we should dismiss on actionIDs too, in this modal context ?

[2016-03-18 10:23] steve228uk commented on #40
@toshi0383 I think it's probably worth letting the dev decide that because if they use the `.Modal` presentation style to show the next view it will show overlaid as expected (I think).

[2016-03-18 10:28] toshi0383 commented on #40
Agree.
So the dev can call `Kitchen.dismissModal()` in actionIDHandler to dismiss the modal view, right ?

[2016-03-18 10:31] steve228uk commented on #40
Yeah that's what I've been doing with alert actions :smile:

[2016-03-18 17:17] #40 closed, assigned to steve228uk

[2016-03-19 02:37] toshi0383 commented on #22
I think we need to introduce these to archive this goal.
- Pass HTTP Header parameter via `Cookbook` object.
- Pass `Response object handler` (type should be `NSHTTPURLResponse -> Bool`) via `Cookbook` object. Devs can return false if response is invalid, and don't want to proceed to xml parsing.

IMO, we should not let TVJS to send network requests (by TVJS's `evaluateScripts`) anymore. So the cu

[2016-03-19 13:39] toshi0383 opened #46 "Remove Kitchen.serve(jsFile:) API"
Created this issue so this breaking change is noticeable for everyone.

I decided to remove this API to keep things simple.
I assume nobody would do fancy things in their jsFiles via TVMLKitchen anyways.

Please open a feature request if really need to specify jsFile path and let TVJS to evaluate them.

[2016-03-19 13:46] toshi0383 commented on #46
Done in #44

[2016-03-19 13:46] #46 closed, assigned to toshi0383

[2016-03-19 13:47] toshi0383 commented on #22
Done in #44

[2016-03-19 13:47] #22 closed, assigned to toshi0383

[2016-03-19 15:13] toshi0383 opened #51 "AlertRecipe is not working"
AlertRecipe shows an empty view.
![Empty AlertRecipe](https://cloud.githubusercontent.com/assets/6007952/13899399/7b6a1d7e-ee30-11e5-804f-ae720d5a3a38.png)

[2016-03-19 15:44] #51 closed, assigned to toshi0383

[2016-03-19 16:03] toshi0383 opened #54 "TVMLKitchen was compiled with optimization - stepping may behave oddly; variables may not be available."
Looks like `loadTemplateFromURL` is not working when built into dynamic framework.

[2016-03-19 16:07] toshi0383 commented on #54
Oh I see... cookbook caused `unexpectedly found nil while unwrapping an Optional value` when using old `prepare` method.

[2016-03-19 16:15] toshi0383 commented on #54
Should be good as long as users stick to new `prepare(cookbook:)` method.

[2016-03-19 16:15] #54 closed, assigned to toshi0383

[2016-03-20 19:23] anthonycastelli opened #55 "UIViewController into a UITabBar"
Maybe I'm overlooking something but i've gone through the framework and can't seem to find anything that would allow me to add UIViewController to a UITabBar. Is this currently not possible?

[2016-03-20 19:39] steve228uk commented on #55
Not currently and I'm not sure if it's possible when merging TVML and UIKit. If your root views are UIKit you could choose to use a storyboard with a `UITabBarController`.

[2016-03-20 19:42] anthonycastelli commented on #55
What about the reverse. Could Kitchen present a recipe within a UIViewController, essentially a subview? If so then I could build the tabs with UIKit and add a recipe as a subview.

[2016-03-20 19:45] steve228uk commented on #55
Not currently. It will be pushed as a view onto the main app navigation controller so will be presented as a new view not a child view of the tab.

Agree that one of these options is definitely desirable.

[2016-03-20 22:41] toshi0383 commented on #55
Yes, that's tvOS SDK's limitation.
If you're using Native TabBarController, I could present an empty child ViewController which opens TVML template via Kitchen. As mentioned, TVML is presented as a sibling of TabView, not a subview anymore. You have to hit the Menu button of Remote to go back to the TabBarController scene.
I ended up a little complex state handling, but it works.

[code]

The UI t

[2016-03-20 23:44] anthonycastelli commented on #55
I'll have to give that a shot. Im a bit stuck at what I should do as I need to implement searching and UISearchController is the best choice as using TVML for search wouldn't quite work as there isn't a way to dynamically update the XML with the results, let alone grab the text from the searchField

[2016-03-21 02:47] toshi0383 commented on #55
Apple's TVMLCatalog sample code actually demonstrates dynamic view manipulating in Search template, using TVJS.
https://developer.apple.com/library/prerelease/tvos/samplecode/TVMLCatalog/Introduction/Intro.html

I think we can consider that control as built-in Recipe in Kitchen. I'll take a look.😉

[2016-03-21 03:08] anthonycastelli commented on #55
That would be fantastic! Thanks!

[2016-03-21 12:14] toshi0383 commented on #55
SearchRecipe has been added in https://github.com/toshi0383/TVMLKitchen/pull/56.

[2016-03-21 12:18] toshi0383 commented on #55
Closing this topic 🍳

[2016-03-21 12:18] #55 closed, assigned to nobody

[2016-03-22 02:04] anthonycastelli opened #65 "Search Recipe Grid option"
Could you add in a grid option for search results? Having it as a default option might be a better choice considering a search could return a large amount of data. A section just scrolls in a horizontal fashion.

[2016-03-22 02:08] anthonycastelli commented on #65
Probably should of tried this first, but you can do what I was trying to achieve by creating a custom results template.

[code]

[2016-03-22 02:08] #65 closed, assigned to nobody

[2016-03-22 04:06] toshi0383 commented on #65
Yep, the result template callback is totally customisable. 😉

[2016-03-27 01:05] toshi0383 commented on #36
Opened #67
TVML view manipulating is very stateful. So I'd ended up making Kitchen control how or when to show indicators based on PresentationType.

[2016-03-27 05:32] anthonycastelli opened #68 "Presenting the tabBar from an Action"
Currently there isn't a way to present the TabBar via Kitchen.server() or via by giving KitchenTabBar a presentation style. Any chance of getting something like this implemented?

[2016-03-27 05:39] toshi0383 commented on #68
I take that as a feature request.😉
API should look like this, but we have to mark `KitchenTabBar.init(items:)` as public.

[code]

Do you want to create a PR ?

[2016-03-27 05:40] anthonycastelli commented on #68
Haha yeah, I wasn't sure how you wanted to go about it, but thats what I had in mind. I can do a PR. Coming right up!

[2016-03-27 11:49] toshi0383 commented on #68
Thanks for the PR !😄

[2016-03-27 11:49] #68 closed, assigned to nobody

[2016-03-27 11:58] toshi0383 commented on #36
@steve228uk Do you feel this issue is solved ? Feel free to reopen to continue discussing.😉

[2016-03-27 11:58] #36 closed, assigned to nobody

[2016-03-27 12:35] toshi0383 opened #72 "Handle TabItem's handler() when presented via serve(recipe:) method."
We introduced the ability to present a TabBar from an action in #69 .
We should handle TabItem's handlers, too.

[2016-03-27 14:26] toshi0383 commented on #72
done in #73

[2016-03-27 14:26] #72 closed, assigned to toshi0383

[2016-03-28 02:10] toshi0383 opened #75 "How does Kitchen's default presentationType behave ?"
There are two push methods to present a TVML view,  replaceDocument and pushDocument.
https://developer.apple.com/library/tvos/documentation/TVMLJS/Reference/TVJSNavigationDocument_Ref/index.html

The `defaultPresenter` in kitchen.js **pushes** document. If loadingIndicator exists, it **replaces** document.

[2016-03-28 02:10] toshi0383 commented on #75
@anthonycastelli Would this answer your question in #69 ?

[2016-03-28 02:24] anthonycastelli commented on #75
It does, however, if I present a TabBar and to to menu back to the previous screen, it'll just exit the app. So I think Its replacing it for me.

[2016-03-28 02:29] toshi0383 commented on #75
Could you modify the SampleRecipe demo code so it reproduces that problem ?
I can checkout the branch and see the problem quickly. 😉

[2016-03-28 02:52] anthonycastelli commented on #75
Sure. I'll be home in about 30-40 minutes so I'll give it a whirl.

Sent from my iPhone

[2016-03-28 03:05] toshi0383 opened #79 "Remove deprecated methods"

[2016-03-28 18:50] anthonycastelli commented on #75
I was actually doing something wrong when I presenting the initial view. I kept presenting it Modaly and when I set it to Default, everything started working. :+1:

[2016-03-29 00:23] toshi0383 commented on #75
That sounds great 🙌
Case closed.🕵

[2016-03-29 00:23] #75 closed, assigned to nobody

[2016-04-01 02:17] anthonycastelli opened #80 "Tab Reloading"
It's me again! Another feature request if it doesn't already exist haha.

Is there currently a way to reload a view in a tab? What Im after is either being able to tell a tab to reload its data or when the tab is loaded each time fetch the data it needs. Does something like this exist that I can use? If not what would be the best route to implement something like this?

[2016-04-01 09:42] steve228uk commented on #80
The way the tabs work is it creates a document per tab. If the document exists then we don't load it again.

https://github.com/toshi0383/TVMLKitchen/blob/swift2.2/Sources/kitchen.js#L50-L58

We could possibly add a new method like: Kitchen.reload() which would use `navigationDocument.replaceDocument` method to reload that current view.

[2016-04-01 15:26] anthonycastelli commented on #80
That would work. Currently if data changes on an API there is no way or refreshing anything.

[2016-04-02 02:37] mikehuebner opened #81 "Move from UIKit ViewController to a Kitchen.serve view"
Hello!

I am really interested to use this library as this makes much more sense to me than using the storyboard editor coming with Xcode.

That being said, I have an established project currently and I'm trying to integrate this into the mix.
Here is what I've done so far.

I map the movies to a structure using the Object Mapper piece (still needs cleanup)

[code]

The collection view is a delega

[2016-04-02 14:55] toshi0383 commented on #81
Hi!
Thanks for trying out our library.😊

Sorry, but I didn't get your point. What is the problem?
Also could you create and share a entire sample project, so we can reproduce your problem? It can be either some other repo or you can modify SampleRecipe target and put into a PR.😉

[2016-04-03 09:39] mikehuebner commented on #81
Hey sorry for a late reply here! Working nights 😅
And I was trying to not have to rewrite a bunch of code to get this to work properly, then I realized that this doesn't override the current view controller. I can look into this if you would like, but if you have a Storyboard entry point it does seem to override the current view. It still shows, but it is as if the navigator didn't realize that so

[2016-04-28 12:27] toshi0383 commented on #81
@mikehuebner
Hi, are you still having this issue?
If you are, could you show me the recreation you mentioned? That would help me understanding what's going on.

[2016-05-14 15:45] marbetschar opened #82 "How to load local files embedded in Template?"
How may I add local files (from the main bundle) to a xml template?

For example, I'd like to provide a static menu, the user can choose an item by using the stackTemplate.
For each menu Item I want to show a logo, served locally and stored in the main bundle.

For each entry I got a code similar to this:

[code]

And the image `wordpress.png` is stored in the main bundle - but as you can see on t

[2016-05-14 16:52] toshi0383 commented on #82
Hi!

Added a new feature in #83 .
If you use `Kitchen.serve(xmlFile:)`, now you can do this.

[code]

If you use `Kitchen.serve(xmlString:)` instead, you need to manipulate xml string by yourself.
Checkout the code [here](https://github.com/toshi0383/TVMLKitchen/pull/83/files#diff-7bcc3225d1c9a98100711f31260a0fe4R22).

[2016-05-14 16:56] marbetschar commented on #82
AWESOME!!!

How my I use this feature with Carthage?

[2016-05-14 17:00] toshi0383 commented on #82
If you want to try out quick, put `github "toshi0383/TVMLKitchen" "load-main-bundle-resource"` .
Otherwise I will merge it after CI passes and cut a new release for you. 😉

[2016-05-14 17:06] toshi0383 commented on #82
Shipped.

[2016-05-14 17:07] toshi0383 commented on #82
I'll leave `load-main-bundle-resource` branch for a while.

[2016-05-14 17:09] marbetschar commented on #82
Awesome!! Thank you very much! I’ve already tested the load-main-bundle-resource, you can delete it whenever you like to!

mit sonnigen Grüssen

MARCO
kowalski

+41 44 341 8000
marco@mandelkind.swiss

MANDELKIND eG Schweiz
Bahnhofstrasse 100
CH-8001 Zürich

[2016-05-14 17:12] toshi0383 commented on #82
Anytime!

[2016-05-14 17:12] #82 closed, assigned to nobody

[2016-05-14 18:42] marbetschar opened #84 ""Unsupported Architectures" when uploading to iTC"
I'm trying to upload my new & shiny tvOS app to iTunes Connect. But unfortunately I retrieve the following error on upload:

"Unsupported Architectures. The executable for ... TVMLKitchen.framework contains unsupported architectures '[x86_64]'".

I've downloaded & installed v0.7.1 with Carthage. Any Idea whats wrong?

[2016-05-14 18:45] marbetschar opened #85 ""Inalid Segment Alignment" when uploading to iTC"
When I'm trying to upload to iTunes Connect I got a "Inalid Segment Alignment" error:

"Inland Segment Alignment. The app binary at '....TVMLKitchen.framework/TVMLKitchen' does not have a proper segment alignment. Try rebuilding the app with the latest Xcode version."

I've downloaded & installed v0.7.1 using Carthage.

[2016-05-14 18:46] marbetschar opened #86 ""Position Independent Executable" when uploading to iTC"
When I'm trying to upload my app to iTunes Connect, I retrieve the following warning:

<img width="506" alt="bildschirmfoto 2016-05-14 um 20 46 15" src="https://cloud.githubusercontent.com/assets/392542/15270143/ef4fedd0-1a14-11e6-9f4e-905d5a1b42bc.png">

[2016-05-14 19:14] marbetschar commented on #84
As a workaround, this made an upload possible:
http://stackoverflow.com/questions/30547283/submit-to-app-store-issues

[2016-05-14 19:14] marbetschar commented on #85
As a workaround, this made an upload possible:
http://stackoverflow.com/questions/30547283/submit-to-app-store-issues

[2016-05-14 19:15] marbetschar commented on #86
As a workaround, this made an upload possible:
http://stackoverflow.com/questions/30547283/submit-to-app-store-issues

[2016-05-14 23:25] marbetschar opened #87 "LoadingRecipe is not public?"
I feel like the loading recipe should be public available?

https://github.com/toshi0383/TVMLKitchen/blob/swift2.2/Sources/Recipes/Loading.swift

[2016-05-15 00:08] toshi0383 commented on #87
Agree. You can create a PR 👍

[2016-05-15 00:20] toshi0383 commented on #86
Oh that's weird. I tried uploading before, but didn't have those issues.
Thanks for reporting!

[2016-05-18 10:39] lukaskuster commented on #87
Just created one 😉 https://github.com/toshi0383/TVMLKitchen/pull/88

[2016-05-18 14:15] toshi0383 commented on #87
Thanks! Just merged.

[2016-05-18 14:16] #87 closed, assigned to nobody

[2016-05-26 03:37] toshi0383 commented on #86
@marbetschar
I just tried uploading again recently and this error did not occur. Here is a checklist I came up with.
- Do you have `carthage copy-frameworks` Build Phase setup ?
- Is carthage up to date ?
- Did you change any "Hoge Paths" in Build Settings ?
- ~~Make sure ONLY_ACTIVE_ARCH = YES in your project's Release target.~~

This issue also could be related. TARGETED_DEVICE_FAMILY.
https://g

[2016-05-26 03:38] toshi0383 commented on #84
Discussion continued in #86
Please feel free to reopen.

[2016-05-26 03:38] #84 closed, assigned to nobody

[2016-05-26 03:39] toshi0383 commented on #85
Discussion continued in #86
Please feel free to reopen.

[2016-05-26 03:39] #85 closed, assigned to nobody

[2016-05-26 05:47] mikehuebner commented on #80
I would love to have this feature, I'm trying to figure out a work around right now to fix this. Because if a user updates something within their Defaults there is no way of viewing that back. I can take a look at this and submit a PR if you would like. I am just not sure where to begin with this, haven't messed with the JS api much. So some guidance would be nice on how you guys would like it don

[2016-05-26 09:33] toshi0383 commented on #80
Just submitted a prototype in #90.
What do you guys think ?

[2016-05-26 11:03] toshi0383 commented on #80
Merged.
As you can see in [the sample code here](https://github.com/toshi0383/TVMLKitchen/pull/90/files#diff-cf670f5b5f876604b51d12c8f9e6044dR33), **reloading the tab before selected** solves "hitching animation" issue.
It still seems to be a workaround, but it works fine this way I guess.
Let us know any further feature requests or bug reports !

[2016-05-26 11:03] #80 closed, assigned to nobody

[2016-05-26 19:25] mikehuebner commented on #80
Awesome!
Let me know when that is published!

[2016-05-26 23:10] #79 closed, assigned to nobody

[2016-05-26 23:17] toshi0383 commented on #80
Released ! 🚢

[2016-05-29 11:12] toshi0383 commented on #81
@mikehuebner
Closing for now.
Please feel free to reopen this issue when you come back.

[2016-05-29 11:12] #81 closed, assigned to nobody

[2016-05-29 11:13] #86 closed, assigned to nobody

[2016-06-10 07:11] mikehuebner opened #92 ".reloadTab Not Allowing for ActionID"
Hey man!

Came across a small issue that I'm looking into now but simply put this:
`Kitchen.reloadTab(atIndex: 1, recipe: CatalogRecipe(title: self.title, movies: movies))`

prevents actionID's from within the XML to work. I'm trying to figure out why now. If you have any information on this that would be awesome!

Thanks!

[2016-06-10 07:49] toshi0383 commented on #92
Hey @mikehuebner .
Thanks for reporting.
Just submitted a patch !

[2016-06-10 08:24] mikehuebner commented on #92
Thanks, I appreciate it. Curious what is was I couldn't figure out why the actionID wasn't getting picked up by the event handler.

Edit:
Ah, the actual DOM event listeners... 😅

[2016-06-10 09:13] #92 closed, assigned to nobody

[2016-06-16 04:14] russ opened #94 "Nothing Displays"
This must be something to do with my setup but when I call Kitchen serve nothing gets displayed.

Here is what I get in the console:

[code]

Here is the code from the AppDelegate.

[code]

I'm using a slimmed down template with pretty much nothing in it. But even the built in recipes do the same thing.

[2016-06-16 04:17] toshi0383 commented on #94
I think you're missing this at the top of your TVML.

[code]

[2016-06-16 04:28] russ commented on #94
I just added that in to be sure but same result. No more info in the logs.

[2016-06-16 04:31] toshi0383 commented on #94
Oh now I see. You need `<document>` first.
Take a look at the reference. 😉
https://developer.apple.com/library/tvos/documentation/LanguagesUtilities/Conceptual/ATV_Template_Guide/TextboxTemplate.html#//apple_ref/doc/uid/TP40015064-CH2-SW8

[2016-06-16 04:33] toshi0383 commented on #94
This was actually not required.

[code]

[2016-06-16 04:38] toshi0383 commented on #94
So this should be the answer.

[code]

[2016-06-16 15:11] russ commented on #94
Sorry, I had to sign off last night in the middle of this. I just added in the above into to my template and still nothing.

`
App[20133:5991517] #T:[Main] #Notice #SYSTEM : Template element: <IKViewElement: 0x7fe8aed4cda0>
2016-06-16 08:10:49.663 App[20133:5991517] #T:[Main] #Notice #SYSTEM : Template controller: <_TVAlertTemplateController: 0x7fe8aeaaf5c0>
`

Nothing about the can't display elem

[2016-06-16 16:04] russ commented on #94
Pretty sure this is an issue with my loading of a SKView initially. I think that is sitting above the tvml modal. If I disable my view controller that loads that as the initial entry point I'm able to see the modal.

I'm still pretty new at this. Is there a way to push the SKView off the stack or "behind" the modal?

[2016-06-16 16:27] russ commented on #94
I think this actually relates to #81. I was able to get the recipe to display using this:

`
self.view.hidden = true
Kitchen.serve(xmlFile: "alert.xml", type: .Modal)
`

But once the view comes up it loses focus. Here is a video of the Behavior: https://www.dropbox.com/s/tnutttg2mpdnnu3/IMG_0424.MOV.mov?dl=0

[2016-06-16 23:40] russ commented on #94
A little more research confirms #81. The Kitchen has to be the top navigationController otherwise the OS has no idea where to focus. Not sure if there can be anything done about that. I created a test app to play around with it here: https://github.com/russ/TVMLKitchenTest

[2016-06-21 04:04] toshi0383 opened #95 ""UIMainStoryboardFile" setting conflicts with Kitchen"
### Problem

If Info.plist's UIMainStoryboardFile is set, the app happen to have 2 UIWindows in parallel.
Either one who is keyWindow gets focused.

Currently Kitchen holds its own UIWindow in private sharedKitchen instance, and uses it to create a TVApplicationController instance.
See: https://github.com/toshi0383/TVMLKitchen/blob/swift2.2/Sources/Kitchen.swift#L264
Looks like this UIWindow confl

[2016-06-21 04:09] toshi0383 commented on #94
@russ
Sorry for late response. Thanks for research !
I just didn't understand about "storyboard entry point", but now I understand that it is the Info.plist's UIMainStoryboardFile value.

Just did a little investigation, and found out that multiple UIWindow was generated in this case.
Continued in #95.

Yes, that's right. I guess it's only workaround for now.

[2016-06-21 04:09] #94 closed, assigned to nobody

[2016-06-21 04:14] toshi0383 commented on #95
Current behavior can be observed in [this branch](https://github.com/toshi0383/TVMLKitchen/tree/sb-entry-point-conflict)'s SampleRecipe app.

[2016-08-03 01:15] toshi0383 commented on #95
In this session in WWDC 2016, multi UIWindow solution is mentioned...
https://developer.apple.com/videos/play/wwdc2016/212/
![tvml-as-subapp](https://cloud.githubusercontent.com/assets/6007952/17350498/22ee09e2-5962-11e6-801b-822d5fe85348.png)

"Host the navigationController" is our current only solution.

I know we can do something like this to avoid conflicting window.

[code]

But I don't know

[2016-08-03 01:53] toshi0383 commented on #95
Looks like UINavigationConrollerDelegate can answer this question.

[code]

[code]

[2016-08-26 09:39] toshi0383 commented on #95
So here is another solution.
Support multiple window! #98
Just supports `Kitchen.serve(urlString:...)` for now.

[2016-08-26 09:42] #95 closed, assigned to toshi0383

[2016-09-14 01:10] toshi0383 opened #101 "XML Validate API"
It would be convenience if Kitchen has XML validation API, so users can check if the xmlString is valid before calling `Kitchen.serve(xmlString:)`.

Here is general idea.

[code]

or it can be like this way.

[code]

The latter one would be a breaking change, so I think we should stick with the first one(throwing `verify` method).

[2016-09-14 01:17] toshi0383 opened #102 "Reuse UIViewController in multi window API."
Currently Kitchen initializes UIViewController every time in `serve` method.
It's not a big problem, but we can consider reusing.

[2016-09-14 05:20] #101 closed, assigned to nobody

[2016-09-14 05:54] #102 closed, assigned to nobody

[2016-09-16 05:34] toshi0383 opened #109 "Handle openURL"
[code]

Handle `open-url` in kitchen.js `load` function.

[2016-09-16 05:45] toshi0383 opened #110 "Any movie playback feature ?"
Personally I've never done any movie playbacks in TVML.
I have questions like below.
- Is FairPlay Streaming Supported ?
- Is FairPlay Streaming available in inline playback (tvOS10+) ?
- Is any other DRM (Widevine, PlayReady...) supports possible ?
- How could I interact with video UI using TVInterfaceCreating (tvOS10+) ?

Will investigate on these later...

[2016-09-16 05:46] toshi0383 commented on #110
[Developing tvOS Apps Using TVMLKit: Part 1](https://developer.apple.com/videos/play/wwdc2016/212/)
[Developing tvOS Apps Using TVMLKit: Part 2](https://developer.apple.com/videos/play/wwdc2016/229/)

[2016-09-21 03:51] toshi0383 opened #112 "serve(urlString:) should accept errorHandler closure"
If `serve(urlString:type:)` or `serve(urlString:... for multi window... )` fails, currently there is no way to recover.
User will be left with current screen (or empty `Kitchen.window` for multi window case).

The new error handler should be called on
- XML parse error
- Network error

I don't think of other errors than above, but if there are other kind of errors, they will be ignored.
Note that

[2016-09-21 05:41] toshi0383 opened #115 "1.0.0 Milestones"
After migrating to Swift3, I'm planning to bump version to 1.0.0.
Feel free to comment if you come up with something.
Release will be in later this year.

[2016-09-21 08:58] #112 closed, assigned to toshi0383

[2016-10-07 02:47] #115 closed, assigned to nobody

[2016-10-07 17:19] AlexanderTheOkay opened #122 "v1.0.0 cocoapod is not being recognized as Swift 3.0"
I've updated my pod to v1.0.0 to get the Swift 3.0 version. The framework will not compile with my Swift 3.0 project, as Xcode still recognizes TVMLKitchen v1.0.0 as Swift 2.2.

As a note, I've taken the source from the Swift 3.0 branch and included it directly in my project, and everything works fine. This seems to be an issue with the cocoapod itself.

[2016-10-07 18:02] #122 closed, assigned to nobody

[2016-10-07 18:02] AlexanderTheOkay commented on #122
This was an issue with Module caching. Once the cache was cleared, everything was picked up correctly.

[2016-10-07 22:19] toshi0383 commented on #122
Maybe we need .swift-version file on top level, which I don't really like...

[2016-10-07 23:01] AlexanderTheOkay commented on #122
To get it to work, I had to go to Build Settings and set "Use Legacy Swift Language Version" to "No" explicitly. It's set to "Unspecified" by default, which causes the error I was seeing.

I think setting that flag will fix the issue across the board. Hopefully it makes the .swift-version file unnecessary.

[2016-10-08 01:32] toshi0383 commented on #122
I see. Thanks for info.

I tried it by myself, and it did not require .swift-version file to compile.
Here is the Podfile I used.

[code]

[2016-10-10 09:48] steve228uk commented on #122
Just chiming in here, I'd recommend adding the following to your podfile to autoset everything to 3.0 if you have issues.

[code]

[2016-10-12 23:46] AlexanderTheOkay opened #123 "Allow textField evaluation"
When using a custom `formTemplate`, there is no way to read the value from the `textfield`.

[2016-10-13 00:56] toshi0383 commented on #123
Nice idea! Feel free to submit a PR.
Our SearchRecipe template should help. It observes keyboard and searchField, and updates UI dynamically.

[2016-10-30 22:08] ghost opened #124 "SearchRecipe.swift @escaping callback block."
Could you please mark `override func filterSearchText(_ text: String, callback: ((String) -> Void))` callback block as `@escaping`.

If a user is fetching search results from a remote API (very likely) the compiler rightly flags that the callback parameter could have escaped by the time remote API has responded.

[2016-10-31 01:34] toshi0383 commented on #124
@FlaviaBondJamesBondsHusband
Thanks for pointing out! `filterSearchText` was meant to be `@escaping`, but I forgot to mark it explicitly when I converted to Swift3.
I don't think it affect execution because it is casted to JavaScript anyways.

Do you want to do a PR for me?

[2016-10-31 14:07] ghost commented on #124
@toshi0383 please see PR #125

[2016-11-06 16:06] #124 closed, assigned to nobody

[2016-12-07 16:09] Wei-Xia opened #127 "How to dismiss Button after popping up TVML view?"
Hello there,

I try to use **TVMLKitchen** last week. This is a really awesome tool to help with tvOS development.

I create a Button in a screen, after clicking the Button, another TVML will be pushed into screen. However, the Button is still in the screen, which is really annoying.

I don't know how to dismiss this button, anyone has any ideas? Thank you!

![simulator screen shot dec 7 2016 11 0

[2016-12-08 01:26] toshi0383 commented on #127
@Wei-Xia
Hi, thanks for looking into this library!
The code looks okay. It's pretty much same as [Demo app's code here](https://github.com/toshi0383/TVMLKitchen/blob/master/SampleRecipe/ViewController.swift#L62-L64).

I'm guessing that you currently end up with multiple UIWindows. Do you have UIMainStoryboardFile in your Info.plist (#95) ? If so, possible solution is this.

[code]

This should tak

[2016-12-08 01:27] toshi0383 commented on #127
Multi UIWindow sample is available under NativeBaseSample directory. FYI.
https://github.com/toshi0383/TVMLKitchen/tree/master/NativeBaseSample

[2016-12-08 16:40] Wei-Xia commented on #127
Hi @toshi0383 , thanks for your help!

Yes, I believe I have this multiple UIWindows issues. I followed your second comment to use **NativeBaseSample** instead, which performed very well! Thank you for solving this problem.

If I figure out how to add Multi Window Support for this library, I will definitely submit PR to you!

[2016-12-09 02:33] #127 closed, assigned to nobody

[2017-01-03 21:31] Wei-Xia opened #128 "Can it play videos?"
Hello,

I use **SampleRecipe** in my Swift tvOS app. It can load TVML file from raw XML String, however it can't play videos?

Anyone knows how to solve it? Thanks!

btw, happy new year!

[2017-01-04 00:04] toshi0383 commented on #128
Hello @Wei-Xia !
Can you show your xml?

[2017-01-04 04:45] Wei-Xia commented on #128
Hello @toshi0383 ,

Below is my code.
I believe my code works well with TVML. Please let me know if you feel anything confused. Thank you! 😅

[code]

[2017-01-04 07:19] toshi0383 commented on #128
Thanks for providing sample code @Wei-Xia .
I believe you're following this [RW's tutorial](https://www.raywenderlich.com/114886/beginning-tvos-development-with-tvml-tutorial).
`videoURL` is a custom attribute handled by the JS code from the tutorial, not by TVMLKit. With TVMLKitchen, the JS code part is currently all embedded in the `kitchen.js` .

I think you can use Kitchen's action API, to pus

[2017-01-04 21:12] Wei-Xia commented on #128
Hi @toshi0383 , Thanks for your response!

Yes, I do follow the tutorial on that website for personal interest.

I still feel confused about your answer, probably I am a newbie to tvOS. You mean JS part is already embedded in `kitchen.js`. Can you tell me how to call action API in order to play the videos? Thank you! 😬😬

[2017-01-05 05:29] toshi0383 commented on #128
Sure! I will create a movie playback sample.

[2017-01-05 06:15] toshi0383 commented on #128
@Wei-Xia
`kitchen.js` is not ought to edited by users (though it can be, since it's embedded as plain text file.), so users cannot add any custom attributes.
Kitchen already handles `actionID` and `playActionID` as documented [here](https://github.com/toshi0383/TVMLKitchen/blob/master/Documentation/HandlingActionsAndErrors.md#handling-actions). So you can set a callback function for yourself.
Just

[2017-01-05 06:40] toshi0383 commented on #128
In case you need to handle play/pause button, you can use playActionIDHandler.
Take a look at #130 .

[2017-01-05 21:42] Wei-Xia commented on #128
@toshi0383  Thank you for providing such a great MoviePlaybackSample for me!

Since I'm using Swift 2.2 to develop my tvOS app and you are using Swift 3, I have already converted some parts of your code in `AppDelegate.swift` into Swift 2.2.

I will submit a PR in case some people are using Swift 2.2.

Also, I found a small issue while playing video. The screen won't play the video automatically u

[2017-01-05 23:30] toshi0383 commented on #128
Happy to help!

That would be great! If you do so, please rebase it to `swift2.2` branch.

Thanks for reporting. I guess that's how AVPlayerViewController works.
You can manually tell AVPlayer to start.
[code]

[2017-01-06 04:15] Wei-Xia commented on #128
Sure, I will rebase to `swift2.2` over this weekend. 😁

With `vc.player?.play()`, my tvOS app can automatically play the videos. Thank you so much for your help. Your clarification is super clear and understandable! Appreciate it!

I think you can close this issue as it is successfully resolved. 😄

[2017-01-06 05:24] #128 closed, assigned to nobody

[2017-01-10 04:32] Wei-Xia opened #132 "Showing Description Issue"
Hello @toshi0383, I'm not sure if you have noticed.

In `MoviePlaybackSample` or other sample, the app can't open the long description in a separate screen. As the picture below shows,

![1](https://cloud.githubusercontent.com/assets/9309906/21793832/d99c4ef0-d6c2-11e6-867e-1aa224808d2b.jpg)

Ideally, it should show like this way.

![2](https://cloud.githubusercontent.com/assets/1169297/13732662/9

[2017-01-10 04:47] toshi0383 commented on #27
For the Product template, I think we should leave the UI customization to the user, rather than embedding it as Recipe.

@steve228uk How do you think?

[2017-01-10 04:54] toshi0383 commented on #132
`MoviePlaybackSample` is using custom xmlString, so you can always add an actionID to present a new ViewController.
But the purpose of `MoviePlaybackSample` is to demonstrate only movie playback, so we can leave this alone for now.
But if you have time, maybe you can merge `MoviePlaybackSample` into `SampleRecipe` to start improving the sample as you suggest.

[2017-01-10 10:31] steve228uk commented on #27
@toshi0383 I think I agree with you but providing an official approach for placeholders might be a good idea. Whether that's using stencil or something similar.

[2017-01-10 12:50] toshi0383 commented on #27
I think I need to describe more.

Lately I tend to think that Recipe feature should be separated into a different module since users can pass arbitrary xml to `Kitchen.serve(xmlString:...)` anyways.
Users can then use Stencil or whatever tool they prefer, to generate xml, and pass it to TVMLKitchen.

So IMO, we should not embed the Recipe in TVMLKitchen **unless**
- It's so simple that users would

[2017-01-10 14:07] steve228uk commented on #27
@toshi0383 I'd say that makes sense 👍

[2017-01-10 18:41] Wei-Xia commented on #27
@toshi0383 I'm thinking we could provide more templates like Apple has [in their website](https://developer.apple.com/library/content/documentation/LanguagesUtilities/Conceptual/ATV_Template_Guide/TextboxTemplate.html) if we have more time to work on this.

I agree with steve to provide an official approach with placeholders for users. They can simply fill with more content to use this library. 👍

[2017-04-09 23:33] toshi0383 opened #142 "dyld: Library not loaded: @rpath/libswiftSwiftOnoneSupport.dylib"
## Environment
macOS Sierra 10.12.4 (16E195)
Xcode 8.3 (8E162) (Confirmed repro on Xcode8.2.1 too)
Carthage 0.20.1

## Reproduce Step
- `carthage update --platform tvOS`
- Add `carthage copy-frameworks` build phase
- Open App.xcodeproj and Cmd + R, ***this runs with no problems***.
- Close xcodeproj and Create a new xcworkspace including the App and TVMLKitchen xcodeprojs.
- Open the xcworkspace a

[2017-10-24 12:28] g30r93g opened #143 "Swift 4"
Hey there. I would really like to use TVMLKitchen in conjunction with my swift code but there is no support for swift 4. If possible, can you update your code for swift 4. I'd be more than happy to pilot your code.

[2017-10-25 00:11] toshi0383 commented on #143
Thanks for reporting!
Feel free to submit a PR😉

[2018-03-29 11:13] uthens opened #144 "Sample don't work on my simulator"
Sample don't work on my simulator, how i can fix on this ?
**"0x10928bead <+13>: movb   %al, -0x9(%rbp)"**
Best,
UT

![screen shot 2018-03-29 at 6 07 25 pm](https://user-images.githubusercontent.com/10783170/38085831-4303e2c4-337c-11e8-8d71-0163953387e3.png)

[2018-03-29 11:48] uthens commented on #144
Next... and i try to click on "**continue**" on x-code i see on this screen but still don't show anything on simulator.

![screen shot 2018-03-29 at 6 40 38 pm](https://user-images.githubusercontent.com/10783170/38087209-7d81c722-3381-11e8-8512-b96ad4945423.png)

![screen shot 2018-03-29 at 6 44 01 pm](https://user-images.githubusercontent.com/10783170/38087243-950f3938-3381-11e8-836e-a2b1d963398b